*{
    box-sizing: border-box;
}
body{
    background-color: fuchsia;
}
.parent{
	place-item: center;
	padding-left: 20%;
}

.nopadding{
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	place-item: justify center;
	left:-60px;
}
h1{
    text-align: center;
}
header{
	background-color: antiquewhite;
}
hr{
	color: #201E1E;
}

tr{
	padding: 5px;
	
}

.button {
        border-color: #783637;
        padding: 5px 20px 20px 50px;
        border-radius: 12px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        margin: 20px 50px 20px 50px;
    }
.button:hover {
        transform: translateY(-5px);
        box-shadow:#e52b50;
    }
section{
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 50px;

    }
.button1{
    background-color:#E52B50;
}
.button2{
    background-color:#000000;
}
.button3{
    background-color: #00FF00;
}
.button4{
    background-color: #0000FF;
}
.button5{
    background-color: #00FFFF;
}
.button6{
    background-color: #808080;
}
.button7{
    background-color: #FF0000;
}
.button8{
    background-color: #ffffff;
}
.button9{
    background-color: #ffff00;
}
.button10{
    background-color: #d2b48c;
}
.button11{
    background-color: #7fff00;
}
.button12{
    background-color: #7b3f00;
}

input,textarea {
    text-align: center;
	text-transform: capitalize;
}

.butrow{
	margin-left: 50%;
	padding-left: 60%;
	padding-right: 0%;
}

/*for mobile*/
@media (max-width: 480px)
{
	.nopadding{
    	left: -65px;
		padding: 0px;
		margin: 0px;
		min-width: 10px;
	}
	.para{
		padding:0px 20px 0px 15px;
		margin: 10px;
	}
}

/*for large screen*/
@media(min-width: 1025px){
	.nopadding{
		left: -120px;
		padding: 0px;
		margin: 0px;
	}
	
}